* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f0f2f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#tituloGeral {
  text-align: center;
  margin-bottom: 20px;
}

.indicadores {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.kpi {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
  flex: 1;
  min-width: 200px;
  max-width: 230px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  transition: 0.2s;
}

.kpi:hover {
  transform: translateY(-4px);
}

.kpiIcone img {
  width: 50px;
}

.kpiInfo {
  display: flex;
  flex-direction: column;
}

.kpiTitulo {
  font-weight: bold;
}

.kpiSecundario {
  font-size: 12px;
  color: gray;
}

.kpiValor {
  font-weight: bold;
}

.green {
  background: #c8e6c9;
}

.red {
  background: #ffcdd2;
}

.tudo {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.esquerda {
  flex: 2;
}

.direita {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.titulo-dash {
  text-align: center;
  margin-bottom: 10px;
}

.grafico {
  height: 450px;
}

.grafico canvas {
  padding: 20px;
  align-items: center;
  align-self: center;
}

.lixeiras-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fileira01,
.fileira02,
.fileira03,
.fileira04,
.fileira05 {
  display: flex;
  gap: 10px;
}

.lixeira-card {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  transition: 0.2s;
}

.lixeira-card:hover {
  transform: translateY(-3px);
  background: #e3f2fd;
}

.lixeiraIcone img {
  width: 60px;
}

.lixeiraInfo h3 {
  font-size: 14px;
}

.lixeiraInfo p {
  font-size: 12px;
}
.red {
  background-color: red;
}
